<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sidmobileapps.gatequiz2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Gate Quiz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:replace="android:label">
        <activity android:name="com.sidmobileapps.gatequiz2.InterstitialAd2"></activity>
        <activity android:name="com.sidmobileapps.gatequiz2.InterstitialAdActivity" />
        <activity
            android:name="com.sidmobileapps.gatequiz2.WebCalculator"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity android:name="com.sidmobileapps.gatequiz2.SolutionsActivity2" />
        <activity
            android:name="com.sidmobileapps.gatequiz2.ResultsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.sidmobileapps.gatequiz2.QuizActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.sidmobileapps.gatequiz2.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>